

<form [formGroup]="renew" #result="ngForm"   (ngSubmit)="submitData(result.value)">

    <div class="head">
    <h1>Enter Policy Details</h1>
    </div>
     <div class="box1">   
        <div class="header">
            <h1>Please Enter The Below Credentials </h1>    
          </div>
    
        <div class="form-group">
            <label for="policyNumber">please enter your PolicyNumber:&nbsp;</label>
            <input type="number" class="form-control" name="policyNumber" id="policyNumber" formControlName="policyNumber">
        </div>
    
        <div [hidden]="renew.controls['policyNumber'].valid || renew.controls['policyNumber'].pristine"
            class="alert alert-danger">
            <div *ngIf="renew.controls['policyNumber'].errors?.['required']">
                 please enter your Policy number
            </div>
            </div>
        
            <div class="form-group">
                <label for="contactNo">Enter your Contact number:&nbsp;</label>
                <input type="text" class="form-control" name="contactNo" id="contactNo" formControlName="contactNo">
            </div>
        
            <div [hidden]="renew.controls['contactNo'].valid || renew.controls['contactNo'].pristine"
                class="alert alert-danger">
                <div *ngIf="renew.controls['contactNo'].errors?.['required']">
                   kindly provide contact number 
                </div>
            </div> 
            <div class="form-group">
                <label for="Email">Please enter your Email:&nbsp;</label>
                <input type="Email" class="form-control" name="Email" id="Email" formControlName="Email">
            </div>
        
            <div [hidden]="renew.controls['Email'].valid || renew.controls['Email'].pristine"
                class="alert alert-danger">
                <div *ngIf="renew.controls['Email'].errors?.['required']">
                    please enter your email
                </div>
                <div *ngIf="renew.controls['Email'].errors?.['Email']">
                    please ensure that the text you entered must be an email id
                </div>
            </div>
        
    
    <div id="submitDiv">
        <button type="submit" class="btn btn-success" routerLink="/plan-table" [disabled]="!renew.valid">Submit</button>
    </div>
    
    </div>
    </form>

    <div class="head2">
        <h1></h1>
        </div>
    
    
    