<form #agecalc="ngForm" (ngSubmit)="calculate(agecalc.value)">
    <div class="h1">
        <h1>
            Premium Calculation For 2 Wheelers
        </h1>
    </div>
    
    <div class="box">
        <input type="text" placeholder="Car Model" required #car="ngModel"  ngModel>
    <br>
    <br>
        <input type="text"placeholder="Age" required="" #age="ngModel" ngModel>
    <br>
    <br>
    
    
    
        <button >
            Calculate Premium 
        </button>
    
        <br>
        <br>
        
        <p>{{amount}}</p>
        
       
       
    </div>
    
    </form>
    
    
    
    <div class="head2">
        <h1> </h1>
    </div>
    <router-outlet></router-outlet>