


<form [formGroup]="login" (ngSubmit)="submitData()">
    <div class="header">
        <h1>Please Enter The Below Credentials </h1>    
      </div>
  
    <div class="form-group">
        <label for="email">please enter your Email:&nbsp;</label>
        <input type="email" class="form-control" name="email" id="email" formControlName="email" >
    </div>
  
    <div [hidden]="login.controls['login'].valid || login.controls['login'].pristine"
        class="alert alert-danger">
        <div *ngIf="login.controls['login'].errors?.['required']">
             please enter your Email 
        </div>
        </div>
        <div class="form-group">
            <label for="password">please enter your Password:&nbsp;</label>
            <input type="password" class="form-control" name="password" id="email" formControlName="password">
        </div>
      
        <div [hidden]="login.controls['login'].valid || login.controls['login'].pristine"
            class="alert alert-danger">
            <div *ngIf="login.controls['login'].errors?.['required']">
                 please enter your Password
            </div>
            </div>
    
        
        
  <div id="submitDiv">
    <button type="submit" class="btn btn-success"  [disabled]="!login.valid">Submit</button>
  </div>
  </form>