<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="home.component.css">
</head>

<body>
    <div>
        <div class="text">
            <h1>
                GENERAL INSURANCE
            </h1>
            <div class="Homebuttons" >
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button"
                    class="btn btn-outline-light" style="padding-left: 10px;padding-right: 10px;" > LOGIN
                </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                <button type="button" class="btn btn-outline-light" style="padding-left: 10px;padding-right: 10px;">
                    CONTACT </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    
                <button type="button" class="btn btn-outline-light" style="padding-left: 10px;padding-right: 10px;">
                    ABOUT US </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                <button type="button" class="btn btn-outline-light" style="padding-left: 10px;padding-right: 10px;">
                    HELP </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <button type="button" class="btn btn-outline-light" style="padding-left: 10px;padding-right: 10px;"> FAQ
                </button>

            </div>
            <div class="backgroundimage">
                <!-- <h1>General Insurance</h1>  data-->
                <!-- <img src="https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1583&q=80" alt="alternatetext"> -->
                <!-- <div class="row">
                    <div class="col">
                        <h1>SIGNIFICANCE OF VEHICLE INSURANCE POLICY</h1>

                    </div>

                    <div class="col">

                    </div>






                <!-- </div> -->


                <div class="row">



                    <div>
                        <h2>SIGNIFICANCE OF VEHICLE INSURANCE POLICY

                        </h2>
                    </div>
                    <div class="paragraph">
                        <ul>
                            <li>Apart from financial security, know in what all ways a motor insurance policy is
                                significant.</li>
                            <li> Risk Covers like car insurance is to protect us from unforeseen events and
                                unplanned
                                liabilities.</li>
                            <li> Anyone can get stuck on the road with their car after an accident, car engine
                                failure due to rains or theft of the vehicle.</li>
                            <li> In any of the cases, having a car insurance
                                policy
                                will be a savior.</li>
                        </ul>
                        <!-- <div class="card">
                            <h5>Buy new Insurance</h5>

                        </div> -->


                    </div>
                    <div class="grid-container">

                        <div class="grid-item"> <button><a href="#BUYINSURANCE"></a> BUY INSURANCE</button></div>
                        <div class="grid-item"> <a href=" #RENEWINSURANCE"></a>RENEW INSURANCE</div>
                        <div class="grid-item"> <button href="#CLAIMINSURANCE">CLAIM INSURASNCE</button>
                        </div>
                        <div class="grid-item"> <a href="#ESTIMATEINSURANCE"></a>ESTIMATE</div>

                    </div>




                </div>




            </div>





        </div>

        <script src="home.component.ts" async defer></script>
    </div>

</body>

</html>