<div class="cntainer ">

    <div>
        <br>
        <br>
        <br>

        <h1 style="background-color:burlywood;padding-top: 30px; padding-bottom: 30px; border-radius: 100px;">Dashboard
        </h1>
        <br>
        <br>
        <br>


        <div class="data">

            <h2>Policy Number &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp; {{title}}
            </h2>

            <br>
            <br>
            <h2>Vehicle Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;
                {{title}}</h2>
            <br><br>
            <h2>Duration value &nbsp;&nbsp; : &nbsp;&nbsp; {{title}}</h2>
            <br><br>
            <h2>Plan Name &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;
                {{title}}</h2>
        </div>



        <br>
        <br>
        <br>
        <div class="container1"
            style="padding-bottom: 50px; padding-top: 30px;align-content: center;margin-left: 420px; ">
            <button type="button" routerLink="/renewinsurance" class="btn btn-primary btn-lg "
                style="margin-right: 500px;padding-top: 15px; padding-bottom: 15px;">Renew Insurance</button>
            <button type="button" class="btn btn-primary btn-lg" routerLink="/claiminsurance"
                style="padding-top: 15px; padding-bottom: 15px;">Claim Insurancee</button>
        </div>
        <h1 style="background-color:burlywood;padding-top: 30px; padding-bottom: 30px;border-radius: 35px;"></h1>
    </div>